body {
    background: teal;
    font-family: 'Bree Serif', serif;
}

h3 {
    color: teal;
}


.body-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-div {
    background: lightgray;
    text-align: center;
    padding: 2%;
    margin: 3%;
    width: 76%;
    border: 5px solid white;
}

.main-container {
    background: teal;
    display: flex;
    width: 80%;
    height: 100%; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
    border: 5px solid white;
}

/* h2 {
    font-size: 2.5em;
} */

.current-container {
    background: rgb(233, 167, 142);
    width: 50%;
    min-height: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    justify-content: flex-start;
}

.finished-container {
    background: lightsteelblue;
    width: 50%;
    min-height: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    justify-content: flex-start;
    
}

.input-text {
    height: 40px;
    width: 300px;
    font-size: 22px;
    padding-left: 20px;
}

button {
    height: 48px;
    width: 100px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 22px;
    border: 1px solid gray;
}

.thumbnail-div {
    display: flex;
    flex-direction: row;
    background: rgba(0,0,0,0.2);
    /* border: 2px solid black; */
    width: 90%;
    height: 250px;
    margin: 5px auto;
}

.pic-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.button-div {
    /* background: rgba(0,0,0,0.2);
    border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    justify-content: center;
    content: center;
    align-items: center;
}

.move {
    background-color: lightgray;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

.delete {
    background-color: lightgray;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin-right: 10px;
}

.blurb {
    background-color: lightgray;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

.modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	/* overflow: auto; */
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
}

.modal-textbox {
	background-color: lightgray;
	height: 300px;
	width: 500px;
    border-radius: 10px;
    margin: 15% auto;
    border: 5px solid #707070;
    overflow: auto;
}

.blurb-title {
    color: rgb(221, 112, 72);
    padding: 5px 20px 0px 20px;
}

.blurb-text {
    color: teal;
    padding: 0px 20px 5px 20px;
    text-align: justify;
}

.close-modal {
    color: teal;
    padding: 20px;
    text-decoration: none;
}

@media (min-height: 600px) {
    .modal-textbox {
        height: 30%;
        width: 70%;
    }
}

@media (max-width: 1300px) {
    .button-div {
        /* background: rgba(0,0,0,0.2);
        border: 1px solid black; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
        justify-content: center;
        content: center;
        align-items: center;
    }

    .move, .delete, .blurb {
        margin: 5px;
    }
}

@media (max-width: 680px) {
    .thumbnail-div {
        display: flex;
        flex-direction: column;
        height: 320px;
        width: 99%;
        align-items: center;
        align-content: center;
        justify-content: baseline;
    }

    .button-div {
        height: 30%;
    }

    .move, .delete, .blurb {
        font-size: 12px;
    }

    .pic-div {
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .current-container, .finished-container {
        align-items: center;
    }

    .input-text {
        width: 200px;
    }

}

@media (max-width: 600px) {
    h2 {
        font-size: 22px;
    }
}
@media (max-width: 550px) {
    h2 {
        font-size: 20px;
    }
    .modal-textbox {
        width: 85%;
        height: 80%;
        margin: 10% auto;
    }
}

@media (max-width: 520px) {
    h2 {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: 28px;
    }
}

@media (max-width: 450px) {
    h2 {
        font-size: 26px;
    }
}
@media (max-width: 427px) {
    h2 {
        font-size: 24px;
    }
}

@media (max-width: 370px) {
    h2 {
        font-size: 22px;
    }
}

@media (max-width: 340px) {
    h2 {
        font-size: 20px;
    }
}